<!--
@model IndignadoWeb.SysAdminServiceReference.DTRSSFeed
<div>
<!--
     <h3>@Html.DisplayFor(m => m.name)</h3>
     <br />
     Internal ID: @Html.DisplayFor(m => m.tag)
     <br />
     Description: @Html.DisplayFor(m => m.description)
     <br />
     Location - Latitude: @Html.DisplayFor(m => m.locationLati)
     <br />

</div>
-->