<!-- model -->
@model IndignadoWeb.UsersServiceReference.DTThemeCategoryUsers
   
  <div class="Theme">
   
    <!-- header -->
    <h5 class="ThemeTitle">@Html.DisplayFor(m => m.title)</h5>
     
    <div class="ThemeLbl2">-  @Model.description</div>
    
    
    <!-- interest buttons -->
    <div id="@Model.id">
        @if (@Model.myInterest == 0)
        {
            
            <input class="boton-big-red ThemeButtonInterested" type="button" onclick="ToggleInterest(1,@Model.id);" name="buttonImInterested" value="I´m interested" />
        }

        @if (Model.myInterest > 0)
        {
            
            <input class="ThemeButtonNotInterested" type="button" onclick="ToggleInterest(0,@Model.id);" name="buttonNotInterested" value="Not interested" />
        }
    </div>
</div>
