<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTThemeCategoryMovAdmin
           
<div>
    <!-- header -->
    <h3>@Html.DisplayFor(m => m.title)</h3>
     
    <!-- fields -->
     @Html.DisplayFor(m => m.description)
    <br />
    <br />
    
    <!-- interest buttons -->
    @using (Html.BeginForm(new { id = @Model.id }))
    {
        if (@Model.myInterest == 0)
        {
            <input type="submit" name="buttonRemove" value="Remove" />
            <br />
        }
    }
</div>
