<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTThemeCategoryMeetings
           
<div>
    <!-- header -->
    <b>@Html.DisplayFor(m => m.title)</b> - @Html.DisplayFor(m => m.description)
    <br />
</div>
