<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTUsersRegisterReportItem

<tr>
    <td>
        @Html.DisplayFor(m => m.period)
    </td>
    <td>
        @Html.DisplayFor(m => m.numberRegisters)
    </td>
    <td>
        @Html.DisplayFor(m => m.numberUsers)
    </td>
</tr>
