<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTUsersRegisterReportItem
           
<div>
    <!-- header -->
    <h3>@Html.DisplayFor(m => m.period)</h3>
     
    <!-- fields -->
    Registers: @Html.DisplayFor(m => m.numberRegisters)
    <br />
    Users: @Html.DisplayFor(m => m.numberUsers)
    <br />
</div>
