<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    
    <connectionStrings>
        <add name="IndignadoServer.Properties.Settings.IndignadoDBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=IndignadoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IndignadoServer.Properties.Settings.IndignadoDBConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=IndignadoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IndignadoServer.Properties.Settings.IndignadoDBConnectionString2"
            connectionString="Data Source=BETTOSIACOVS-PC\SQLEXPRESS;Initial Catalog=IndignadoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Behavior1">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                    <serviceCredentials>
                        <serviceCertificate findValue="RootCaTest" storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName"/>
                    </serviceCredentials>
                </behavior>

                <behavior name="Behavior2">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                    <serviceCredentials type="IndignadoServer.CustomServiceCredentials, IndignadoServer">
                        <serviceCertificate findValue="RootCaTest" storeLocation="LocalMachine" storeName="My" x509FindType="FindByIssuerName"/>
                        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="IndignadoServer.CustomUserNameValidator, IndignadoServer"/>
                    </serviceCredentials>
                    <serviceAuthorization principalPermissionMode="Custom"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        
        <services>
          <service behaviorConfiguration="Behavior1" name="IndignadoServer.SessionService">
              <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1" contract="IndignadoServer.ISessionService">
                  <identity>
                      <dns value="localhost"/>
                  </identity>
              </endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8730/IndignadoServer/SessionService/"/>
                  </baseAddresses>
              </host>
          </service>
            
          <service behaviorConfiguration="Behavior2" name="IndignadoServer.TestService">
              <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding2" contract="IndignadoServer.ITestService">
                  <identity>
                      <dns value="localhost"/>
                  </identity>
              </endpoint>
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8730/IndignadoServer/TestService/"/>
                  </baseAddresses>
              </host>
          </service>
            
          <service behaviorConfiguration="Behavior2" name="IndignadoServer.Services.MeetingsService">
              <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding2" contract="IndignadoServer.Services.IMeetingsService">
                  <identity>
                      <dns value="localhost"/>
                  </identity>
              </endpoint>
              <host>
                  <baseAddresses>
                      <add baseAddress="http://localhost:8730/IndignadoServer/MeetingsService/"/>
                  </baseAddresses>
              </host>
          </service>

          <!-- MovAdmin service -->
          <service behaviorConfiguration="Behavior2" name="IndignadoServer.Services.MovAdminService">
            <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding2" contract="IndignadoServer.Services.IMovAdminService">
              <identity>
                <dns value="localhost"/>
              </identity>
            </endpoint>
            <!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> -->
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8730/IndignadoServer/MovAdminService/"/>
              </baseAddresses>
            </host>
          </service>
          
          <!-- SysAdmin service -->
          <service behaviorConfiguration="Behavior2" name="IndignadoServer.Services.SysAdminService">
            <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding2" contract="IndignadoServer.Services.ISysAdminService">
              <identity>
                <dns value="localhost"/>
              </identity>
            </endpoint>
              <!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> -->
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8730/IndignadoServer/SysAdminService/"/>
              </baseAddresses>
            </host>
          </service>

          <!-- NewsResources service -->
          <service behaviorConfiguration="Behavior2" name="IndignadoServer.Services.NewsResourcesService">
            <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding2" contract="IndignadoServer.Services.INewsResourcesService">
              <identity>
                <dns value="localhost"/>
              </identity>
            </endpoint>
            <!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> -->
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8730/IndignadoServer/NewsResourcesService/"/>
              </baseAddresses>
            </host>
          </service>

          <!-- Users service -->
          <service behaviorConfiguration="Behavior2" name="IndignadoServer.Services.UsersService">
            <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding2" contract="IndignadoServer.Services.IUsersService">
              <identity>
                <dns value="localhost"/>
              </identity>
            </endpoint>
            <!-- <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" /> -->
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:8730/IndignadoServer/UsersService/"/>
              </baseAddresses>
            </host>
          </service>
        </services>
        
        <bindings>
            <wsHttpBinding>
                <binding name="Binding1">
                    <security mode="Message">
                        <message clientCredentialType="None"/>
                    </security>
                </binding>
                
                <binding name="Binding2">
                    <security mode="Message">
                        <message clientCredentialType="UserName"/>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
