<!-- model -->
@model IndignadoWeb.Models.ManageResourcesModel

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Manage resources";
}

<!-- page content -->

<h2>Manage resources</h2>

<div class="shadowH2" style="height:40px;">
@using (Html.BeginForm(new { id = 0 }))
{
        <div class="tab">
        @if (Model.listType == 0)
        {
            <text>
                <div class="tabActive">All</div>
            </text>
        }
        else
        {
            <input type="submit" class="boton-big-red, tabBtn" name="buttonShowAll" value="Show all" />
        }
        </div>
        <div class="tab">
        @if (Model.listType == 1)
        {
            <text>
                <div class="tabActive">Enabled</div>
            </text>
        }
        else
        {
            <input type="submit" class="boton-big-red, tabBtn" name="buttonShowEnabled" value="Show enabled" />
        }
        </div>
        <div class="tab">
        @if (Model.listType == 2)
        {
            <text>
                <div class="tabActive">Disabled</div>
            </text>
        }
        else
        {
            <input type="submit" class="boton-big-red, tabBtn" name="buttonShowDisabled" value="Show disabled" />
        }
        </div>
        <div class="tab" style="width:3px;"></div>
}
</div>

<ul class="list1" style="margin:0 80px;">
    @Html.DisplayFor(m => m.resources.items)
</ul>
