<!-- model -->
@model IndignadoWeb.MovAdminServiceReference.DTUsersRegisterReport

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Users register report";
}

<!-- page content -->

<h2>Users register report</h2>

<div class="shadowH2" style="height:40px;">
@using (Html.BeginForm())
{
        <div class="tab">
        @if ((int)Model.periodType == 0)
        {
            <text>
                <div class="tabActive">By year</div>
            </text>
        }
        else
        {
            <input type="submit" class="boton-big-red, tabBtn" name="buttonShowByYear" value="By year" />
        }
        </div>
        <div class="tab">
        @if ((int)Model.periodType == 1)
        {
            <text>
                <div class="tabActive">By month</div>
            </text>
        }
        else
        {
            <input type="submit" class="boton-big-red, tabBtn" name="buttonShowByMonth" value="By month" />
        }
        </div>
        <div class="tab">
        @if ((int)Model.periodType == 2)
        {
            <text>
                <div class="tabActive">By day</div>
            </text>
        }
        else
        {
            <input type="submit" class="boton-big-red, tabBtn" name="buttonShowByDay" value="By day" />
        }
        </div>
        <div class="tab" style="width:3px;"></div>
}
</div>

@{
    if ((int)Model.periodType == 0)
    {
        <img src="UsersRegisterReport_ChartByYear" width="600" alt=""/>
    }
    
    if ((int)Model.periodType == 1)
    {
        <img src="UsersRegisterReport_ChartByMonth" width="600" alt=""/>
    }
    
    if ((int)Model.periodType == 2)
    {
        <img src="UsersRegisterReport_ChartByDay" width="600" alt=""/>
    }
}

<p><br /></p>

<table border-style="none">

    <!-- header -->
    <tr>
        <td>
            <b>Period</b>
        </td>
        <td>
            <b>Registers</b>
        </td>
        <td>
            <b>Users</b>
        </td>
    </tr>
    
    <!-- fields -->
    @Html.DisplayFor(m => m.items)
</table>
