
.big-red input[type=email],
.big-red input[type=password],
.big-red input[type=text],
.big-red input[type=url],
.big-red select {
  display: inline-block;
  height: 29px;
  margin: 0;
  padding-left: 8px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.big-red input[type=email]:hover,
.big-red input[type=password]:hover,
.big-red input[type=text]:hover,
.big-red input[type=url]:hover,
.big-red select:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.big-red input[type=email]:focus,
.big-red input[type=password]:focus,
.big-red input[type=text]:focus,
.big-red input[type=url]:focus,
.big-red select:focus {
  outline: none;
  border: 1px solid #f4b200;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.big-red input[type=email][disabled=disabled],
.big-red input[type=password][disabled=disabled],
.big-red input[type=text][disabled=disabled],
.big-red input[type=url][disabled=disabled],
.big-red select[disabled=disabled] {
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
}
.big-red input[type=email][disabled=disabled]:hover,
.big-red input[type=password][disabled=disabled]:hover,
.big-red input[type=text][disabled=disabled]:hover,
.big-red input[type=url][disabled=disabled]:hover,
.big-red select[disabled=disabled]:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.big-red input[type=checkbox],
.big-red input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.big-red input[type=checkbox]:active,
.big-red input[type=radio]:active {
  border-color: #c6c6c6;
  background: #ebebeb;
}
.big-red input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
}
.big-red input[type=radio] {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  width: 15px;
  height: 15px;
}
.big-red input[type=checkbox]:checked,
.big-red input[type=radio]:checked {
  background: #fff;
}
.big-red input[type=radio]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.big-red input[type=checkbox]:checked::after {
  content: url(//ssl.gstatic.com/ui/v1/menu/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}
.big-red input[type=checkbox]:focus {
  outline: none;
  border-color:#4d90fe;
}

.big-red input[type=email].form-error,
.big-red input[type=password].form-error,
.big-red input[type=text].form-error,
.big-red input[type=url].form-error {
  border: 1px solid #dd4b39;
}

.reg-box  {
  width:400px;
  margin: 20px ;
  margin-top:20px;
}

.reg-box input[type=text],
.reg-box input[type=password],
.reg-box select {
  width: 100%;
  height: 28px;
  font-size: 15px;
  position: relative;
}

.reg-box select {
    background:  #fff;
}

.reg-box .slabel{
  font-weight: normal;
  font-size: 15px;
  font-family: Arial;
  margin: 0 0 .5em;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  top:10px;
}

.reg-box input[type=submit] {
  margin: 2em 1.5em 1.2em 0;
  height: 32px;
  padding-bottom: 2px;
  font-size: 13px;
  float:right;
  vertical-align: center;
}

.reg-box table {
    width:100%;
    margin:0;
    padding:0;
    margin-top: 20px;
}

.reg-box table td {
    height:60px;
    margin:0;
    padding:0;
    vertical-align: top;
}

.error-msg {
    margin:0;
    padding:0;
    color: #d02714;
    top:10px;
    position:relative;
}

.success-msg {
    position:relative;
    font-size: 18px;
    margin-top: 100px;
    height: 250px;
    width:100%;
    text-align: center;
}

.reg-box fieldset {
    border:none;
}

.boton-big-red,
.boton-red a,
.boton-ingresar-red {
    display:inline;
    background-color: #3B5998;
    border: 1px solid #3B5998;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.300) inset, 0px 1px 0px rgba(0, 0, 0, 0.298);
    -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.300) inset, 0px 1px 0px rgba(0, 0, 0, 0.298);
    -webkit-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.300) inset, 0px 1px 0px rgba(0, 0, 0, 0.298);
    color: #fff;
    cursor: pointer;
    font-weight:bold;
    font-family: arial;
    font-size: 13px;
    margin-left: 6px;
    min-width: 54px;
    vertical-align: -1px;
    text-align: center;
}

.boton-ingresar-red {
    width: 75px;
    height: 24px;
}

.boton-red a, .boton-red a:visited  {
    width:54px;
    float:right;
    height: 22px;
    line-height: 22px;
    padding:0;
    margin:0;
}

.boton-big-red:hover,
.boton-red a:hover,
.boton-ingresar-red:hover {
    background-color: #5874B2;
    -moz-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.400) inset, 2px 2px 1px #e2dac0;
    -webkit-box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.400) inset, 2px 2px 1px #e2dac0;
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.400) inset, 2px 2px 1px #e2dac0;
    text-decoration: none;
}

.reg-box input[type=submit]:active {
    border: 1px solid #c7c1b3;
    outline: none;
}

input:focus{ outline:none }

input[type=submit],
input[type=reset],
input[type=button]
{
       filter:chroma(color=#000000);
}

a.special-btn.facebook { 
    background: url("../images/facebook.png") 15px 2px no-repeat #3B5998;
    padding-left: 33px;
    width:344px;
    margin:30px;
    height:33px;
    line-height:33px;
}

a.special-btn { 
    border: 1px solid rgba(0, 0, 0, 0.196);
    border-radius: 5px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.400) inset, 0px -1px 0px rgba(0, 0, 0, 0.298) inset, 0px 0px 10px rgba(255, 255, 255, 0.298) inset, 0px 1px 1px rgba(0, 0, 0, 0.196);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.400) inset, 0px -1px 0px rgba(0, 0, 0, 0.298) inset, 0px 0px 10px rgba(255, 255, 255, 0.298) inset, 0px 1px 1px rgba(0, 0, 0, 0.196);
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.400) inset, 0px -1px 0px rgba(0, 0, 0, 0.298) inset, 0px 0px 10px rgba(255, 255, 255, 0.298) inset, 0px 1px 1px rgba(0, 0, 0, 0.196);
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.196);
}

a.special-btn:hover {
    background-color: #4566ac;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -2px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -2px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset, 0 -2px 0 rgba(0, 0, 0, .3) inset, 0 0 10px rgba(255, 255, 255, .4) inset, 0 1px 1px rgba(0, 0, 0, .3);
    text-decoration: none;
}

a.special-btn.facebook:active {
	background-color: #112f61;
}