@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    A like button, like option or recommend button is a feature in communication software such as social networking services, Internet forums, news websites and blogs where the user can express that he/she likes, enjoys or supports certain content. Internet services that feature like buttons usually display the quantity of users who liked each content, and may show a full or partial list of them. This is a quantitative alternative to other methods of expressing reaction to content, like writing a reply text.
    <br /><br />
    Like buttons as used by social networks on websites other than their own are often used as web bugs to track user activities for targeted advertising such as behavioral targeting combined with personally identifiable information (PII) and may be considered a breach of browser security and internet safety privacy concerns.

</p>