<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeeting

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meeting details";
}

<!-- page content -->

<h2>Meeting details - @Html.DisplayFor(m => m.name)</h2>


<p>
    @Html.DisplayFor(m => m)
</p>