<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeetingsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meetings list";
}

<!-- page content -->

<h2>Meetings list</h2>

<p>
    @Html.DisplayFor(m => m.items)
    
    @foreach (var item in Model.items)
    {
    <text>
        @item.locationLati
        <br />
    </text>
    }
</p>
