<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeetingsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meetings list on interest";
}

<!-- page content -->

<h2>Meetings list on interest</h2>

<p>
    @Html.DisplayFor(m => m.items)
</p>
