<!-- model -->
@model IndignadoWeb.z.DTMeetingsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meetings list on attendance";
}

<!-- page content -->

<h2>Meetings list on attendance</h2>

<p>
    @Html.DisplayFor(m => m.items)
</p>
