@{
    ViewBag.Title = "Indignado Framework - Meeting details";
}

<h2>Meeting details - @ViewBag.Message.name</h2>

<p>
     Internal ID: @ViewBag.Message.id
     <br />
     Description: @ViewBag.Message.description
     <br />
     Min quorum: @ViewBag.Message.minQuorum
</p>
