<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeetingsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meetings list";
}

<!-- page content -->

<h2 style="text-align:center">Meetings list</h2>

<p>
    @Html.DisplayFor(m => m.items)
</p>
@{
    if (Model.items.Count() > 10){
        <div><span>Anterior</span></div> <div><span>Siguiente</span></div>
    }
}
    
