<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeetingsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meetings list";
}

<!-- page content -->

<h2>Meeting list</h2>

<p>
     Items: @Html.DisplayFor(m => m.items)
</p>
