<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTz

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meetings list";
}

<!-- page content -->

<h2>Meetings list</h2>

<p>
    @Html.DisplayFor(m => m.items)
</p>
