<!-- model -->
@model IndignadoWeb.MeetingsServiceReference.DTMeeting

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Meeting details";
}

<!-- page content -->

<h2>Meeting details - @Html.DisplayFor(m => m.id)</h2>


<p>
     Internal ID: @Html.DisplayFor(m => m.id)
     <br />
     Description: @Html.DisplayFor(m => m.description)
     <br />
     Min quorum: @Html.DisplayFor(m => m.minQuorum)
</p>