<!-- model -->
@model IndignadoWeb.SysAdminServiceReference.DTMovementsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Movements list";
}

<!-- page content -->

<h2>Movements list</h2>

<p>
     @Html.DisplayFor(m => m.items)
</p>
