<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTRssItemsCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - News list";
}

<!-- page content -->

<h2>News list</h2>

<ul class="list1">
    @Html.DisplayFor(m => m.items)
</ul>
