<!-- model -->
@model IndignadoWeb.NewsResourcesServiceReference.DTResourcesCol

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Resources list";
}

<!-- page content -->

<h2>Resources list</h2>

<p>
    @Html.DisplayFor(m => m.items)
</p>
