<!-- model -->
@model IndignadoWeb.Models.ListResourcesModel

<!-- page title -->
@{
    ViewBag.Title = "Indignado Framework - Top resources list";
}

<!-- page content -->

<h2>Top resources list</h2>

<ul class="list1" style="margin:0 80px;">
    @Html.DisplayFor(m => m.items.items)
</ul>
